{% extends 'base.html' %} {% block title %} Apply For Schlorship {% endblock title %}


{% block body %}
    <h1 style=" text-align: center">Types of scholarship</h1>

    <div
            class="container my-5"
            style="
    background-color: white;
    border-radius: 30px;
    border: 5px solid greenyellow;
  "
    >
        <div class="mx-4 my-4">
            <h2><b>Scholarship Name : </b></h2>
            <p style="color: #993300; font-size: xxx-large">Vidya Mahadana</p>
            <h3>About schlorship :</h3>
            <p>
                NGOs further the social goals of their members (or founders): improving
                the natural environment, encouraging the observance of human rights,
                improving the welfare of the disadvantaged, or representing a corporate
                agenda. Their goals cover a wide range of issues. They may fund local
                NGOs, institutions and projects, and implement projects
            </p>
            <h3>About Donors :</h3>
            <p>
                NGOs further the social goals of their members (or founders): improving
                the natural environment, encouraging the observance of human rights,
                improving the welfare of the disadvantaged, or representing a corporate
                agenda. Their goals cover a wide range of issues. They may fund local
                NGOs, institutions and projects, and implement projects
            </p>
            <h3>Documents and eligibility :</h3>
            <ul>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
            </ul>
            <button type="submit" class="btn btn-success col-6 mx-auto d-grid gap-2">
                <a href="/forms"> <b style="color: white">Apply For Scholarship</b> </a>
            </button>
        </div>
    </div>

    <div
            class="container my-5"
            style="
    background-color: white;
    border-radius: 30px;
    border: 5px solid greenyellow;
  "
    >
        <div class="mx-4 my-4">
            <h2><b>Scholarship Name : </b></h2>
            <p style="color: #993300; font-size: xxx-large">Vishesha Vidya Puraskara</p>
            <h3>About schlorship :</h3>
            <p>
                NGOs further the social goals of their members (or founders): improving
                the natural environment, encouraging the observance of human rights,
                improving the welfare of the disadvantaged, or representing a corporate
                agenda. Their goals cover a wide range of issues. They may fund local
                NGOs, institutions and projects, and implement projects
            </p>
            <h3>About Donors :</h3>
            <p>
                NGOs further the social goals of their members (or founders): improving
                the natural environment, encouraging the observance of human rights,
                improving the welfare of the disadvantaged, or representing a corporate
                agenda. Their goals cover a wide range of issues. They may fund local
                NGOs, institutions and projects, and implement projects
            </p>
            <h3>Documents and eligibility :</h3>
            <ul>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
            </ul>
            <button type="submit" class="btn btn-success col-6 mx-auto d-grid gap-2">
                <a href="/forms"> <b style="color: white">Apply For Scholarship</b> </a>
            </button>
        </div>
    </div>

    <div
            class="container my-5"
            style="
    background-color: white;
    border-radius: 30px;
    border: 5px solid greenyellow;
  "
    >
        <div class="mx-4 my-4">
            <h2><b>Scholarship Name : </b></h2>
            <p style="color: #993300; font-size: xxx-large">Vidya Puraskara</p>
            <h3>About schlorship :</h3>
            <p>
                NGOs further the social goals of their members (or founders): improving
                the natural environment, encouraging the observance of human rights,
                improving the welfare of the disadvantaged, or representing a corporate
                agenda. Their goals cover a wide range of issues. They may fund local
                NGOs, institutions and projects, and implement projects
            </p>
            <h3>About Donors :</h3>
            <p>
                NGOs further the social goals of their members (or founders): improving
                the natural environment, encouraging the observance of human rights,
                improving the welfare of the disadvantaged, or representing a corporate
                agenda. Their goals cover a wide range of issues. They may fund local
                NGOs, institutions and projects, and implement projects
            </p>
            <h3>Documents and eligibility :</h3>
            <ul>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
                <li>some information to be filled</li>
            </ul>
            <button type="submit" class="btn btn-success col-6 mx-auto d-grid gap-2">
                <a href="/forms"> <b style="color: white">Apply For Scholarship</b> </a>
            </button>
        </div>
    </div>
{% endblock body %}