<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
<h1 style="color: #993300">Student Details</h1>
<p style="color: red">We will contact you after verifying your request <br>
    please wait for the response. <br>
    The status will be sent to the same mail id mentioned in the form <br>
    Thank you.</p>
<div>
    <table style="border: 3px solid black;border-collapse: collapse">
        <tr>
            <th style="border: 3px solid black;border-collapse: collapse; text-align: start; ; color: red">
                Fields
            </th>
            <th style="border: 3px solid black;border-collapse: collapse; color: red">
                Information
            </th>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">First
                Name
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ fname }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Last
                Name
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ lname }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Date Of
                Birth
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ dob }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Email
                Address
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ mail }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Phone
                Number
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ phno }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">
                Gender
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ gender }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">
                Address
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ address }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">City
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ city }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">Pin
                Code
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ pincode }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">State
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ state }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">
                Country
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ country }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">
                10th Percentage
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ per10 }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">
                12th Percentage
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ per12 }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">
                Degree
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ bach }}</td>
        </tr>
        <tr>
            <td style="border: 3px solid black;border-collapse: collapse;">
                Course
            </td>
            <td style="border: 3px solid black;border-collapse: collapse;">{{ course }}</td>
        </tr>
    </table>
</div>
</body>
</html>